INFLUXDB_URL=http://influxdb:8181
# INFLUXDB_URL=http://host.docker.internal:8181
INFLUXDB_TOKEN=your-token-here
INFLUXDB_DATABASE=monitoring
INFLUXDB_MEASUREMENT=device_metrics
VITE_API_BASE_URL=http://localhost:8000
